API_BASE_URL = "https://example.com/api/"
API_KEY = "your_api_key_here"
BASE_URL = "http://123.1.123:5000/" # NOT THE REAL URL FOR LIVE SERVER

USER_NAME = "YourName"
USER_EMAIL = "your_email@stud.noroff.no"
USER_PASSWORD = "your_password_here"